/* html {
    background-color: #0D0C0C;
} */
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
body {
    font-family:Roboto;
}

a {
    text-decoration: none;
    color: rgb(197, 183, 238)94);
}

ul {
    list-style: none;
    margin: 20;
    padding: 20;
}

.hero-container {
    min-height: 100vh;
    background: url('./images/wakso\ image.jpeg');
    background-size: cover;
    
    background: size 1920px 1030px;
    /* background-size: 100% 100%; */
    background-position: center;
    background-repeat: no-repeat;
}
/* .hero-container nav{
    padding: 10px;
    padding-inline: 40px;
    height: 20vh;
} */
/* .hero-container h1{
    font-size: 70px;
    font-weight: 500;
    display: flex;
} */
.hero-content{
    height: 80vh;
    padding-inline: 5%;
    color: rgba(8, 1, 1, 0.986);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero-content h1{
    font-size: 100px;
    font-weight: 800;
    
}
.hero-content h2 {
    font-size: 100px;
    font-weight: 800;
}
.hero-content .subtittle{
    font-size: 20px;
    font-weight: 600;
}
.hero-container nav, .ctct-container nav, .abt-hero-container nav, .blg-hero-container nav{
    display: flex;
    justify-content: space-between;
}
.hero-container nav ul, .ctct-container nav ul, .abt-hero-container nav ul, .blg-hero-container nav ul{
    display: flex;
    justify-content: end;
    gap: 15px;
    /* color: red; */
    font-weight: bold;
    font-size: 18px;
    padding-block: 30px;
    padding-inline: 5%;
    text-transform: uppercase;

}
.nav-label{
    display: flex;
    align-items: center;
    padding-left: 5%;
    font-size: 44px;
    font-weight: 800;
}
.nav-label a{
    text-decoration: none;
    color: inherit;
}
.blogs-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content:space-between;
}
.blogs-container a{
    width: 40%;
}
.blogs-container a:nth-child(2n){
    display: flex;
    justify-content: end;
}
@media screen and (max-width: 780px){
    .blogs-container{
        flex-direction: column;
    }
    .blogs-container a{
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }
    .blogs-container a:nth-child(2n){
        justify-content: start;
    }
}
header {
    display: flex;
    justify-content: space-between;
}
    .navigation {
        display: flex;
        padding: 0 ,6rem;
        color: blue;
    
    }
     .body-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    padding: 0 ,6rem;
}
.body-nav button{
    background-color: transparent;
    color: white;
    border: 0px;
    font-size: medium;
    cursor: pointer;
}
.body-nav button:hover{
    font-weight: 600;
}
.main{
    background-color: #0F0F0F;
    padding: 5%;
}
/* .body-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.body-nav button{
    background-color: transparent;
    color: white;
    border: 0px;
    font-size: medium;
    cursor: pointer;
}
.body-nav button:hover{
    font-weight: 600;
} */
.blogs h1{
    font-size: xx-large;
    text-align: center;
    font-weight: 700;
    color: whitesmoke;
    margin-bottom: 5%;
    text-transform: uppercase;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: whitesmoke;
    padding: 5%;
}

.section-1{
    width: 70%;
    padding-right: 10%;
}
.section-2{
    width: 30%;
}

.section-1 h1, .section-2 h1{
    margin-bottom: 3%;
    text-transform: uppercase;
}
.footer-icons {
    /* display: flex; */
    /* justify-content: space-between; */
    display: grid;
    align-content: center;
    grid-template-columns: repeat(5, 1fr);
}
.footer-icons img{
    width: 20px;
    height: 20px;

}
.subscribe-form{
    margin-top: 2%;
}
.subscribe-form input{
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: transparent;
    padding-inline: 4px;
    padding-block: 8px;
}
.subscribe-form button{
    padding-inline: 4px;
    padding-block: 8px;
    width: 80px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}


@media screen and (max-width: 768px){
    .footer{
        flex-direction: column;
    }
    .section-1, .section-2{
        width: 100%;
    }
    .section-1{
        margin-bottom: 40px;
    }
    .subscribe-form{
        width: 100%;
        margin-top: 20px;
    }
    .subscribe-form input {
        width: 70%;
    }
    .section-1 h1, .section-2 h1{
        text-align: center;
    }
}


/* contact page css */
.ctct-container{
    background: rgb(27, 26, 26);
    color: whitesmoke;
    padding-top: 4vh;
    height: 100vh;
    font-family:Roboto;
}   

.ctct-container .contact-box{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    width: 50%;
    padding: 5%;
    margin: auto;
}
.contact-box h2{
    text-align: center;
}
.contact-box input{
    font-size: 14px;
    padding-block: 8px;
    padding-inline-start: 4px;
    border: 1px solid whitesmoke;
    width: 100%;
    border-radius: 5px;
    background: transparent;
    color: whitesmoke;
    margin-bottom: 10px;
}
.contact-box button{
    width: 100%;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding-block: 8px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    background: transparent;
}
.contact-box button:hover{
    background: #17AAE9;
    border: 1px #17AAE9;
}




/* styles for about html page */
.abt-hero-container, .blg-hero-container{
    background: rgb(27, 26, 26);
    color: whitesmoke;
}
.abt-hero-container .abt-main{
    display: flex;
    gap: 5%;
}
.abt-hero-container .abt-main a{
    max-height: 100vh;
    width: 40%;
}
.abt-hero-container .abt-main a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.abt-hero-container .abt-main p{
    font-size: 28px;
    min-height: 100%;
    display: flex;
    align-items: center;
    width: 50%;
}
@media screen and (max-width: 768px){
    .abt-hero-container .abt-main{
        flex-direction: column;
    }
    .abt-hero-container .abt-main a{
        height: 400px;
        width: 100%;
    }
    .abt-hero-container .abt-main p{
        width: 100%;
        padding-inline: 5%;
    }
}

.skills-section{
    padding: 5%;

}

.skills-section h1{
    text-align: center;
    font-size: 28px;
    margin-bottom: 3%;
}
.single-skill{
    text-align:center;
    display: flex;
    justify-content: center;
    margin-block-end: 1%;
    gap: 0.5%;
}
.single-skill label{
    width:49%;
    text-align: end;
}
.progress-bar{
    min-height: 8px;
    text-align: center;
    width: 50%;
}
.progress-inner{
    background: #C6169F;
}



/* blog css */

.blg-hero-container{
    padding-inline: 5%;
}
.blg-main{
    padding-inline-end: 30%;
    min-height: 100vh;
}
.blg-main-title{
    font-size: 28px;
    margin-block: 50px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}
@media screen and (max-width: 768px){
    .blg-main{
        padding-inline-end: 4%;
    }
}
.blog-single{
    display: flex;
    padding-bottom: 60px;
}
.blog-img{
    width: 400px;
    height: auto;
}
.blog-description{
    min-height: 100%;
    padding-top: 2%;
    padding-inline-start: 2%;
}
.blog-title{
    font-size: 24px;
    margin-bottom: 8%;
}
.blog-title a{
    cursor: pointer;
    color: inherit;
}
.blog-title a:hover{
    opacity: 0.8;
}